@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

html {
  line-height: 1.15;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  background-image: linear-gradient(to left, #7e1b21, #4d110f);
  font-size: normal;
}

header {
  width: 100vw;
  height: 100px;
  background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
}

main {
  display: block;
}

h1 {
  font-size: 3em;
  margin: 0.67em 0;
}

h1,
h3 {
  margin: 1.5rem 0;
  font-weight: 600;
  font-family: "Limelight", cursive;
  line-height: 1.2;
  color: #ededed;
}

h3 {
  font-size: 1.75rem;
}

p {
  color: #dedede;
}

.full-container {
  max-width: 100%;
  padding: 0 1rem;
}

.container {
  max-width: 1200px;
  padding: 2rem 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.button,
button,
[type="button"] {
  display: inline-block;
  border: 1px solid #1a0505;
  background: #1a0505;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.button:hover,
a.button:hover,
button:hover,
[type="button"]:hover {
  border: 1px solid #3e0c0c;
  background: #3e0c0c;
  color: #ffffff;
  text-decoration: none;
}

.remove-btn {
  border: 1px solid #1a0505;
  background: #1a0505;
}

.remove-btn:hover {
  border: 1px solid #571111;
  background: #571111;
}

/* Form */
[type="text"] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
  color: #ffffff;
  max-width: 60%;
}

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  color: #dedede;
  margin: 1rem 0 0.5rem;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  color: #dedede;
  margin: 1rem 0 3rem 0;
}

thead th {
  border-bottom: 2px solid #dedede;
}

td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}
